#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  strong {
    font-size: 20px;
    line-height: 26px;
  }
  ion-alert {
    margin-top: 10px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

ion-header {
  ion-toolbar {
    ion-title {
      font-size: 20px;
    }
  }
}

ion-content {
  form {
    ion-item {
      ion-label {
        font-weight: bold;
      }

      input[type="file"] {
        display: block;
        margin-top: 5px;
      }
    }

    ion-button {
      margin-top: 10px;
    }
  }

  .ion-padding {
    margin-top: 10px;
  }

  #display-image {
    .ion-grid {
      ion-row {
        ion-col {
          img {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}