<ion-header>
  <ion-toolbar>
    <ion-title>
      Image Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onUpload()" enctype="multipart/form-data">
    <ion-item>
      <ion-label position="stacked">Select Image</ion-label>
      <input type="file" name="uploadfile" (change)="onFileSelected($event)" accept="image/jpeg, image/png, image/gif" />
    </ion-item>
    <ion-button expand="block" type="submit" name="upload">UPLOAD</ion-button>
  </form>
  <ion-alert *ngIf="msg" message="{{ msg }}"></ion-alert>
  <!-- Filter images by type -->
  <form>
    <ion-item>
      <ion-label position="stacked">Filter by File Type:</ion-label>
      <ion-select [(ngModel)]="fileType" (ionChange)="fetchImages()">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="jpg">JPG</ion-select-option>
        <ion-select-option value="jpeg">JPEG</ion-select-option>
        <ion-select-option value="png">PNG</ion-select-option>
        <ion-select-option value="gif">GIF</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="fetchImages()">Filter</ion-button>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of images">
        <a [href]="image.fullSizeUrl" target="_blank">
          <img [src]="image.thumbnailUrl" [alt]="image.filename">
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>